<div>
  <h1>Conversation History</h1>

  <% if @conversations.any? %>
    <table class="table table-striped mt-4">
      <thead>
        <tr>
          <th>Conversation</th>
          <th>Total Messages</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <% @conversations.each do |conversation| %>
          <tr>
            <td>
              <%= link_to "Conversation " +'#'+ "#{conversation.id}", show_conversation_path(conversation), class: "fw-bold text-decoration-underline" %>
            </td>
            <td>
              <%= conversation.query_and_responses.count * 2 %>
            </td>
            <td>
              <%= conversation.created_at.strftime("#{conversation.created_at.day.ordinalize} %B %Y") %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p class="mt-4">No conversations found.</p>
  <% end %>
</div>
