<div>
  <h1>Conversations for Review</h1>

  <% if @conversations.any? %>
    <table class="table table-striped mt-4">
      <thead>
        <tr>
          <th>Title</th>
          <th>ID</th>
          <th>Total Messages</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <% @conversations.each do |conversation| %>
          <tr>
            <td>
              <%= link_to (conversation.title.presence || "Untitled").gsub(/\A"|"\Z/, ''), show_conversation_for_review_path(conversation), class: "text-danger fw-bold text-decoration-underline" %>
            </td>
            <td>
              <%= conversation.id %>
            </td>
            <td>
              <%= conversation.query_and_responses.count * 2 %>
            </td>
            <td>
              <%= conversation.created_at.strftime("#{conversation.created_at.day.ordinalize} %B %Y") %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p class="mt-4">No conversations flagged for review.</p>
  <% end %>
</div> 