option_settings:
  aws:elasticbeanstalk:application:environment:
    RAILS_ENV: production
    RACK_ENV: production
    BUNDLE_WITHOUT: development:test
  aws:elasticbeanstalk:container:ruby:
    RubyVersion: 3.3.6
    RackEnv: production
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /public: public
